force-app/main/default/flows/Create_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Create_Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create_Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>X_Records</name>
        <label>X_Records</label>
        <locationX>456</locationX>
        <locationY>191</locationY>
        <inputAssignments>
            <field>email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>person__c</field>
            <value>
                <elementReference>Person</elementReference>
            </value>
        </inputAssignments>
        <object>x__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_Records</name>
        <label>Create_Records</label>
        <locationX>187</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>X_Records</targetReference>
        </connector>
        <fields>
            <name>Person</name>
            <dataType>String</dataType>
            <fieldText>Person</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>76</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Create_Records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
