force-app/main/default/flows/sflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>heyy</description>
        <name>opp</name>
        <label>opp</label>
        <locationX>641</locationX>
        <locationY>50</locationY>
        <actionName>NewOpportunity</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>act</targetReference>
        </connector>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>a1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>act</name>
        <label>act</label>
        <locationX>798</locationX>
        <locationY>125</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>op</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>a1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>op</label>
        </rules>
    </decisions>
    <interviewLabel>sflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sflow1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>contact</name>
        <label>contact</label>
        <locationX>391</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>opp</targetReference>
        </connector>
        <fields>
            <name>contactname</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>40</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>a1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
