force-app/main/default/flows/Test_Flow_For_XYS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Object_Trigger_Using_Flow</name>
        <label>Object Trigger Using Flow</label>
        <locationX>179</locationX>
        <locationY>562</locationY>
        <actionName>DynamicFlowInvocableClass</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__newInput</typeName>
            <typeValue>XYS__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldInput</typeName>
            <typeValue>XYS__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newInput</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldInput</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Data_in_Bulk</name>
        <label>Data in Bulk</label>
        <locationX>166</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>newRecordsBulk</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldRecordsBulk</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Trigger_Using_Flow</targetReference>
        </connector>
    </assignments>
    <description>This flow is created using Dynamic Apex</description>
    <interviewLabel>TestFlowForXYS__c {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Flow For XYS__c</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Data_in_Bulk</targetReference>
        </connector>
        <object>XYS__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newRecordsBulk</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>XYS__c</objectType>
    </variables>
    <variables>
        <name>oldRecordsBulk</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>XYS__c</objectType>
    </variables>
</Flow>
